/* metaTower Window Manager */

body {
    background:#61676F;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.0em; 
    margin: 0; 
    padding: 0;
    color: white;
}

ul, li {
    margin:0; 
    padding:0; 
    list-style:none;
    line-height: 1.1em;
}

li:hover {
    background: #222;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#mtwm_quickbar {
	list-style: none;
	padding: 0;	
	margin: 0;
	float: left;
	width: 100%;
	background: #222;
	background: url(../images/menu_bg.png) repeat-x;
}
#mtwm_quickbar li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative;
}
#mtwm_quickbar li:hover {
    background: none;
}
#mtwm_quickbar li a {
    color: #AAA;
	padding: 9px 5px;
	display: block;
	text-decoration: none;
	float: left;
}
#mtwm_quickbar li a:hover{
    color: white;
	font-weight: bold;
}
#mtwm_quickbar .icon {
	margin-left: 15px;
	width: 32px;
	height: 35px;
	float: left;
	background: url(../images/tower.png) no-repeat center 1px;
    cursor: pointer;
}

#container {
	padding-top: 35px;
}

.window {
	margin: 10px;
	padding: 20px;
	background-repeat: repeat;
	background-image: url('../images/content_bg.png');
	color: white; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}

.window .header {
    padding: 10px 0px 20px 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #444;
}

.window .footer {
    padding: 20px 20px 0px 20px;
    font-size: 1.2em;
    border-top: 1px solid #444;
}

.window .left {
    float: left;
    border-right: 1px solid #444;
    padding: 20px;
    text-align: right;
    vertical-align: top;
}

.window .right {
    float: right;
    border-left: 1px solid #444;
    padding: 20px;
    width: 200px;
    vertical-align: top;
}

.window .main {
    padding: 20px;
    min-height: 300px;
    vertical-align: top;
}

.window .progressBar {
	background: #222;
    height: 10px;
    margin: 2px 10px 0px 0px;
}

.window .progressBar_progress {
	background: #39F;
    height: 10px;
}

#home_packagelist {
    
}
#home_packagelist li {
    width: auto;
    padding: 5px;
    height: 20px;
}
#home_footer {
    text-align: right;
    font-size: 0.8em;
    color: #DDD;
}

