#dlmanager_content { list-style-type: none; margin: 0; padding: 0; }
#dlmanager_content li { font-size: 1.0em; border: 0px; background-repeat:no-repeat; background-position: left 6px; padding: 5px 5px 5px 50px; }

#dlmanager_content li:hover { background-color: #E6E6E6; }
#dlmanager_content .dlmanager_nzb { background-image: url('dlmanager/images/nzb.png');  }
#dlmanager_content .dlmanager_torrent { background-image: url('dlmanager/images/torrent.png'); }
#dlmanager_content .ui-widget-content {  }
#dlmanager_content .ui-progressbar { height: 20px; width: 100%; }
#dlmanager_content .ui-selected { background-color: #E6E6E6; }

.progressBar {
	background: #ECEBEB;
	border: 1px solid #DBDADA;
}

.progressBar_progress {
	background: #87B3BC;
}
