#mbrowser_menu { list-style-type: none; }
#mbrowser_menu li { border: 0px; padding: 5px; }
#mbrowser_menu .cat { font-weight: bold; }
#mbrowser_menu .subcat { cursor: pointer; }

#mbrowser_status { padding-top: 50px; text-align: left; }

#mbrowser_main { list-style-type: none; }
#mbrowser_main li { border: 0px; margin: 3px; padding: 5px; }

#mbrowser_main .menu { cursor: pointer; font-weight: bold; }

#mbrowser_main .audio { background-image: url('mbrowser/images/mtfile.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }

#mbrowser_main .video { }

#mbrowser_main .show { cursor: pointer; background-image: url('mbrowser/images/mtfolder.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }
#mbrowser_main .season { cursor: pointer; background-image: url('mbrowser/images/mtfolder.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }

#mbrowser_main .icon {
    float: left;
}
#mbrowser_main .name {
    padding-left: 25px;
    cursor: pointer;
}

#mbrowser_main .info {
    padding: 10px 30px 0px;
}

#mbrowser_main .info li {
    list-style-type: circle;
    padding: 3px;
    margin: 0px;
}

#mbrowser_main .rename_input {
    border: 1px solid #DBDADA;
    width: 350px;
    margin-right: 10px;
}
