#mbrowser_menu .refresh { 
    font-weight: bold; 
}

#mbrowser_statusbar {
    margin-right: 20px;
}

#mbrowser_status { 
    padding-top: 50px; 
    text-align: left; 
}

#mbrowser_main { 
    list-style-type: none; 
}

#mbrowser_main li { 
    border: 0px; 
    margin: 3px; 
    padding: 5px; 
}

#mbrowser_main .menu { 
    cursor: pointer; 
    font-weight: bold; 
}

#mbrowser_main .audio { 
    background-image: url('mbrowser/images/mtfile.png'); 
    background-repeat:no-repeat; 
    background-position: 5px 3px;  
    padding-left: 25px; 
}

#mbrowser_main .video { }

#mbrowser_main .show { 
    cursor: pointer; 
    background-image: url('mbrowser/images/mtfolder.png'); 
    background-repeat:no-repeat; 
    background-position: 5px 3px;  
    padding-left: 25px; 
}

#mbrowser_main .season { 
    cursor: pointer; 
    background-image: url('mbrowser/images/mtfolder.png'); 
    background-repeat:no-repeat; 
    background-position: 5px 3px;  
    padding-left: 25px; 
}

#mbrowser_main .icon {
    float: left;
}
#mbrowser_main .name {
    padding-left: 25px;
    cursor: pointer;
}

#mbrowser_main .info {
    background: #222;
    padding: 2px;
    margin: 10px;
}

#mbrowser_main .info li {
    list-style-type: none;
    padding: 3px;
    margin: 0px;
}

#mbrowser_main .rename_input {
    border: 1px solid #DBDADA;
    width: 350px;
    margin-right: 10px;
}
