#mbrowser_refresh { 
    font-weight: bold; 
}

#mbrowser_header {
    background-image: url('mbrowser/images/icon.png');
    background-repeat: no-repeat; 
    background-position: 10px 0px;    
    padding-left: 56px;
}

#mbrowser_statusbar {
    margin-right: 20px;
}

#mbrowser_status { 
    padding: 50px; 
    text-align: left; 
}

.mbrowser_audio { 
    background-image: url('mbrowser/images/mtfile.png'); 
    background-repeat:no-repeat; 
    background-position: 5px 3px;  
    padding-left: 25px; 
}

.mbrowser_video {
    padding: 5px;
}

.mbrowser_show,
.mbrowser_season { 
    background-image: url('mbrowser/images/mtfolder.png'); 
    background-repeat:no-repeat; 
    background-position: 5px 3px;  
    padding: 4px 0px 5px 25px; 
}

.mbrowser_icon {
    float: left;
}

.mbrowser_name {
    padding-left: 10px;
}

.mbrowser_info {
    background: #222;
    padding: 2px;
    margin: 10px;
}

.mbrowser_info li {
    list-style-type: none;
    padding: 3px;
    margin: 0px;
}

.mbrowser_rename {
    border: 1px solid #DBDADA;
    width: 350px;
    margin-right: 10px;
}
