#nzbfind_results
{
    list-style: none;
    padding: 10px 0px 0px 0px;
}

#nzbfind_results .nzb 
{ 
    background-image: url('nzbfind/images/mtfile.png'); 
    background-repeat: no-repeat; 
    background-position: 2px 5px;  
    padding-left: 25px; 
}

#nzbfind_results .nzb_downloaded 
{ 
    background-image: url('nzbfind/images/mtfile_trans.png'); 
    background-repeat: no-repeat; 
    background-position: 2px 5px;  
    padding-left: 25px; 
    color: #AAA;
}

#nzbfind_results .nzb_downloaded a
{
    color: #AAA;
}

#nzbfind_results li 
{
    padding: 5px; 
}

#nzbfind_statusbar 
{ 
    display: none; 
    padding: 5px; 
    text-align: left; 
    margin: 20px 10px 0px 0px; 
}

#nzbfind_query 
{ 
    border: 1px solid black; 
    padding: 3px; 
    width: 70%; 
    color: black; 
}
