.confedit_edit
{
    position: absolute; 
    top: 10px; 
    bottom: 5px;
    left: 215px; 
    right: 10px;
}

.confedit_edit li
{
    font-weight: bold;
    padding: 5px;
}

.confedit_edit input
{
    width: 100%; 
    border: 1px solid black;
}

.confedit_edit button
{
    float: right;
}
