#mbrowser_menu { list-style-type: none; margin: 0; padding: 0; }
#mbrowser_menu li { border: 0px;  font-size: 1.0em; margin: 3px; padding: 5px; }

#mbrowser_menu .cat { font-weight: bold; }
#mbrowser_menu .subcat { cursor: pointer; background-image: url('mbrowser/images/mtfolder.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }
#mbrowser_menu .subcat:hover { background-color: #E6E6E6; }

#mbrowser_content { list-style-type: none; margin: 0; padding: 0; }
#mbrowser_content li { border: 0px;  font-size: 1.0em; margin: 3px; padding: 5px; }

#mbrowser_content .menu { cursor: pointer; font-weight: bold; }
#mbrowser_content .menu:hover { background-color: #E6E6E6; }

#mbrowser_content .audio { cursor: pointer; background-image: url('mbrowser/images/mtfile.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }
#mbrowser_content .audio:hover { background-color: #E6E6E6; }

#mbrowser_content .video { cursor: pointer;  }
#mbrowser_content .video:hover { background-color: #E6E6E6; }

#mbrowser_content .show { cursor: pointer; background-image: url('mbrowser/images/mtfolder.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }
#mbrowser_content .season { cursor: pointer; background-image: url('mbrowser/images/mtfolder.png'); background-repeat:no-repeat; background-position: 5px 3px;  padding-left: 25px; }

#mbrowser_content .icon {
    float: left;
}
#mbrowser_content .name {
    padding-left: 20px;
    padding-top: 2px;
}
#mbrowser_content .info {
    padding: 10px 30px 0px;
    font-size: 1.0em;
}

#mbrowser_content .info li {
    list-style-type: circle;
    padding: 3px;
    margin: 0px;
}

#mbrowser_content a { text-decoration: none; color: black; }

.progressBar {
	background: #ECEBEB;
	border: 1px solid #DBDADA;
}

.progressBar_progress {
	background: #87B3BC;
}
