body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    background: #61676F;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    min-width: 600px;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

#container {
    padding-top: 35px;
}

/* Window */

.window {
    margin: 10px;
    padding: 20px;
    background-repeat: repeat;
    background-image: url('images/content_bg.png');
    color: white; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
}

/* Window : Header */
.header {
    clear:both;
    padding: 5px 0px 20px 20px;
    font-size: 1.2em;
    border-bottom: 1px solid #444;
}

/* Window : Body Mask */
.window_mask {
    position:relative;    /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;            /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
}

/* Window : Body */
.window_body {
    float:left;
    width:100%;
    position:relative;
}

/* Window : Main & Menu (Left Column) */
.window_main
{
    margin-top: 40px;
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}
.window_menu
{
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
}

/* Window : Left Menu */
.leftmenu {
    /*background:#fff;          right column background colour */
}
.leftmenu .window_body {
    right:75%;
    /*background: #f4f4f4;        left column background colour */
}
.leftmenu .window_main {
    width:71%;            /* right column content width */
    left:102%;            /* 100% plus left column left padding */
    vertical-align: top;
    text-align: left;
}

.leftmenu .window_menu {
    width: 21%;
    left: 6%;
    border-right: 1px solid #444;
    text-align: right;
    vertical-align: top;
}
.leftmenu .window_menu li {
    list-style: none;
    padding: 20px 20px 5px 0px;
}

.leftmenu .window_menu .cat {
    font-weight: bold; 
    border-bottom: 1px solid #888;
}

/* Window : Progress Bar */
.window .progressBar {
    background: #222;
    height: 10px;
}

.window .progressBar_progress {
    background: #39F;
    height: 10px;
}

/* Window: Footer */
.footer {
    padding: 20px 20px 0px 20px;
    border-top: 1px solid #444;
    clear:both;
}

.hidden_footer {
    padding: 0px;
    clear:both;
}

#home_packagelist img {
    padding-left: 10px;
}
