.dlmanager_icon {
    float: left;
}

.dlmanager_item { 
    border: 0px;
    /*padding: 5px 5px 5px 50px;*/ 
    line-height: 1.2em;  
}

.dlmanager_item_menu {
    background: #222;
    padding: 2px;
    margin: 10px;
}

.dlmanager_item_menu li {
    list-style-type: none;
    padding: 3px;
    margin: 0px;
}

#dlmanager_fileinp { 
    width: 150px; 
}
