#search_header {
    background-image: url('search/images/icon.png');
    background-repeat: no-repeat; 
    background-position: 10px 0px;    
    padding-left: 56px;
}

#search_results
{
    list-style: none;
    padding: 10px 0px 0px 0px;
}

#search_results .nzb 
{ 
    background-image: url('search/images/mtfile.png'); 
    background-repeat: no-repeat; 
    background-position: 2px 5px;  
    padding-left: 25px; 
}

#search_results .nzb_downloaded 
{ 
    background-image: url('search/images/mtfile_trans.png'); 
    background-repeat: no-repeat; 
    background-position: 2px 5px;  
    padding-left: 25px; 
    color: #AAA;
}

#search_results .nzb_downloaded a
{
    color: #AAA;
}

#search_results li 
{
    padding: 5px; 
}

#search_statusbar 
{ 
    display: none; 
    padding: 5px; 
    text-align: left; 
    margin: 20px 10px 0px 0px; 
}

#search_query 
{ 
    border: 1px solid black; 
    padding: 3px; 
    width: 70%; 
    color: black; 
}
